html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Quan trọng: Đảm bảo html và body chiếm toàn bộ chiều cao */
  width: 100%; /* Quan trọng: Đảm bảo html và body chiếm toàn bộ chiều rộng */
}

#root {
  height: 100%; /* Quan trọng: Đảm bảo div#root chiếm toàn bộ chiều cao của body */
  width: 100%; /* Quan trọng: Đảm bảo div#root chiếm toàn bộ chiều rộng của body */
  display: flex; /* Sử dụng flexbox để Box bên trong có thể tự động co giãn */
  flex-direction: column; /* Đảm bảo các phần tử con sắp xếp theo chiều dọc */
}
